body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
}

/* Omaa */

/* Wrapper 
-----------------------------------------------------------------------------*/
.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 100%;
    padding: 10px;
    background: #BFF08E;
    text-align:center;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    background: #BFF08E;
    padding: 0.5% 10%;
}

.posts {
    border-radius: 25px;
    width: 100%;
}

.content {
    padding: 2%;
    text-align: center;
}

legend {
    margin-left: 3%;
}

fieldset {
    background: #B5E3FF;
    display: block;
    border-radius: 15px;
    padding: 1%;
    border: 2px groove;
    margin: 2%;
}

.button {
    margin: 1%;
}

.info {
    margin: 2%;
}

input {
    margin: 2%;
}

table {
    border: 1px solid black;
}
tr, td {
    text-align: center;
    vertical-align: middle;
    width: 10%;
}

.table {
    display: inline-block;
}

.userDataTable {
    width: 400px;
}

.postDiv {
    margin: 2%;
}

.postButtons {
    float: right;
}

.filename {
	float: left;
}

.tableWithNoBorders {
	border: 0;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    height: 100%;
    padding: 10px;
    background: #BFF08E;
    text-align: center;
}